<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-generic-password"
        version="0.1.0">
    <name>cordova-plugin-generic-password</name>
    <description>Cordova Generic Password Plugin for iOS</description>
    <license>MIT</license>
    <keywords>cordova,1password,lastpass</keywords>
    <repo>https://github.com/RangerRick/cordova-plugin-generic-password</repo>
    <issue></issue>

    <js-module src="www/genericpassword.js" name="GenericPassword">
        <clobbers target="GenericPassword"/>
    </js-module>


    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GenericPassword">
                <param name="ios-package" value="GenericPassword"/>
            </feature>
        </config-file>

        <header-file src="src/ios/GenericPassword.h"/>
        <source-file src="src/ios/GenericPassword.m"/>
        <header-file src="src/ios/GenericPasswordExtension.h"/>
        <source-file src="src/ios/GenericPasswordExtension.m"/>
    </platform>

</plugin>
